<h1>Login</h1>

<div class="row newPostContainer">

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
		<p>This is a private blog. Please log in or <a href="/signup">sign up</a> to view the blog.</p>
	</div>


	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<%= form_for(:session,url: login_path) do |f| %>

			<div class="field bottomPadding5px">
				<%= f.text_field :email, :placeholder => "Email", :class => "textField" %>
			</div>

			<div class="field bottomPadding5px">
				<%= f.password_field :password, :placeholder => "Password", :class => "textField" %>
			</div>

			</br>

			<div class ="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 viewPostButtonHolder text-center">
					<%= f.submit "Log In", class: 'btn redBtn btn-block' %> 
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 viewPostButtonHolder text-center">
					<%= link_to 'Cancel', posts_path, class: "btn whiteBtn btn-block" %>
				</div>

			</div>

		<% end %>

	</div>

	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-left">
		<p><strong>Admin Account</strong></br>
		Admin Login: admin@aaa.com</br>
		Password: 12345</br></br>

		<strong>Admin Permissions:</strong></br>
		View blog posts</br>
		Edit blog posts</br>
		Delete blog posts</br>
		User management</p>
	</div>

	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-left">
		<p><strong>User Account</strong></br>
		User Login: mary@aaa.com</br>
		Password: 12345</br></br>

		<strong>User Permissions:</strong></br>
		View blog posts</p>

	</div>	

</div>
