<h1>New User</h1>
<div class="row newPostContainer">

</br>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<%= form_for(@user) do |f| %>

	<div class="field bottomPadding5px">
		<%= f.text_field :first_name, :placeholder => "First name", :class => "textField" %>
	</div>

	<div class="field bottomPadding5px">
		<%= f.text_field :last_name, :placeholder => "Last name", :class => "textField" %>
	</div>

	<div class="field bottomPadding5px">
		<%= f.text_field :email, :placeholder => "Email", :class => "textField" %>
	</div>

	<div class="field bottomPadding5px">
		<%= f.password_field :password, :placeholder => "Password", :class => "textField" %>
	</div>

	</br>

	<div class ="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 viewPostButtonHolder text-center">
			<%= f.submit "Create Your User Account", class: 'redBtn btn-block btn' %> 
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 viewPostButtonHolder text-center">
			<%= link_to 'Cancel', posts_path, class: "whiteBtn btn-block btn" %>
		</div>

	</div>

<% end %> 

</div>

</div>
